.bg-color{
    background-color: #ecebeb;
};
.title{
    background-color: black;
    font-size: 3em;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 800;
    padding: 1rem;
}